body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/**
 * MENU for top NAVIGATION
 * @see https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav
 */
nav.top {
  overflow: hidden;
  background-color: #333;
}

nav.top a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav.top a:hover {
  background-color: #ddd;
  color: black;
}
nav.top a.home {
  background-color: #4CAF50;
  color: white;
}

nav.top .menuIcon {
  display: none;
}

@media screen and (max-width: 600px) {
  nav.top a:not(:first-child) {
    display: none;
  }
  nav.top a.menuIcon {
    float: right;
    display: block;
  }

  nav.top.responsive {
    position: relative;
  }
  nav.top.responsive .menuIcon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.top.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/**
 * ARTICLE (main content)
 */
article { margin: 18pt}
article a[rel="external"] { color:#000099 }
article a[rel="help"] { color:green }
article a:hover { background-color: #ECA; color:blue; }
article a[rel="external"]:hover { background-color:#FB9; color:#222; }
article a[rel="help"]:hover { background-color:#DFB; color:#222; }

article table {
 border-collapse: collapse;
}
article table, article th, article td {
 border: 1px solid black;
 padding: 5px;
}
article > section > h1,
article > section > h2,
article > section > h3 {
  background-color: #DFB;
  padding: 3pt;
}
article > section > section h3,
article > section > section h4 {
  background-color: #DAA;
  padding: 3pt;
}

/**
 * ETC.
 */

footer {background-color: #f5f5f5;}

.wslink {font-family: monospace}
